<div class="row">
    <div class="col s12 md6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Add a todo
                </span>

                <div class="row">
                    <form (ngSubmit)="onAddItem()">
                        <div class="input-field col s6">
                            <input type="text"
                                   class="validate"
                                   name="title"
                                   [(ngModel)]="item.title">
                            <label>Title</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text"
                                   class="validate"
                                   name="description"
                                   [(ngModel)]="item.description">
                            <label>Description</label>
                        </div>
                        <button type="submit"
                                value="Submit"
                                class="waves-effect waves-light btn">Add
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>